.containerMovie{
    max-width: 300px;
    max-height: 360px;

}
.logo{
    height: 25px;
    aspect-ratio: 1/1;
}




body{
    background-color: black;
    color: white;
}
.moviePicture{
    background-image: url("https://picsum.photos/seed/postpicture-45/300/170");
    background-repeat: no-repeat;
    height: 170px;
    width: 300px;
    padding: 10px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
.movieInfo{
    max-width: 300px;
}
.movieInfoTop{
    justify-content: space-between;
}