@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');
html{
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.column{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}
.center{
  justify-content: center;
}
.app{
  height: -webkit-fill-available;
}
