#backoffice {
    display: flex;
    align-items: center;
    flex-direction: column;

    .p {
        min-width: 400px;
        display: flex;
        flex-direction: column;

        .btn_create {
            background-color: #3d61a4;
            border-radius: 6px;
            padding: 8px 12px;
            text-align: center;
            margin: auto;
            cursor: pointer;
        }

        .btn_back {
            margin: 10px auto 0 auto;
            color: white;
            text-decoration: none;
        }
    }
}

.list_project {
    display: flex;
}