#root{
  height: 100%;
}
.container{
  height: 100%;
}
.containerHomePage{
  background-image: url("../../images/decadence-thumbnail.JPG");
  background-size: cover;
  height: calc(100% - 60px);
}
.watchBox{
  width: 22%;
  height: 82%;
  background-color: rgba(84, 41, 120, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  padding: 80px;
}
.watchBox span {
  padding-bottom: 30px;
}

.movie{
  padding-top: 80px;
  font-size: 70px;
  font-weight: 800;
}

.playButton{
  padding: 10px 20px;
  border: none;
  color: white;
  font-weight: bold;
  font-family: "Montserrat", serif;
  border-radius: 25px;
  background-color: rgb(100, 51, 141);
}
.play{
  padding-left: 20px;
  color: white;
  font-size: 18px;
}
