body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  ;
  background-color: #282c34;
  color: white;

  label {
    font-size: 16px;
    font-weight: 500;
  }

  input {
    margin-top: 4px;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    outline: none;
    margin-bottom: 20px;
  }
}